# Configurações Gerais
PROJECT_NAME="Finance Organizer API"
ENVIRONMENT="development"

# Banco de Dados Local (Docker)
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=suasenhalocal
POSTGRES_DB=finance_db

# Produção (Supabase) - Opcional
# DATABASE_URL=postgresql://user:pass@host:6543/postgres

# CORS Config (JSON String)
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:5173","http://localhost:8000"]
